@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Custom scrollbar for categories */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
